#jsi-live-test {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 300px;
	background: #1B1D1E;
	margin: 0;
	padding: 1px !important;
	color: #FFFFFF;
	font-family: Helvetica, Arial, Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
}
#jsi-live-test,
#jsi-live-test div,
#jsi-live-test p,
#jsi-live-test td {
	margin: 0;
	padding: 0;
}
#jsi-live-test a {
	text-decoration: none;
}

#jsi-lt-tab {
	background: #F8F8F2;
	padding: 0;
}
#jsi-lt-tab table {
	border-collapse: collapse;
}
#jsi-lt-tab td a {
	display: block;
	height: 100%;
	padding: 1px 10px;
	color: #FFFFFF;
	background: #A9A9A9;
	text-decoration: underline;
}
#jsi-lt-tab td a.jsc-current {
	background: #1B1D1E;
	text-decoration: none;
}
.jsc-lt-output {
	display: none;
	height: 200px;
	margin-top: 1px !important;
	overflow: auto;
}
.jsc-lt-output {
	display: none;
}
.jsc-lt-output.jsc-current {
	display: block;
}
.jsc-lt-output table {
	border-collapse: collapse;
}
.jsc-lt-output table th {
	width: 25px;
	min-width: 25px;
	background: #232526;
	color: #425558;
	text-align: center;
	vertical-align: top;
}
.jsc-lt-output table td {
	padding: 0 5px 10px !important;
}
.jsc-lt-op-name {
	color: #FB9632;
}
.jsc-lt-op-value {
	padding-left: 20px !important;
}
.jsc-lt-true {
	color: #8ADC40 !important;
}
.jsc-lt-false {
	color: #F62C5E !important;
}

#jsi-lt-status {
	width: 100%;
	background: #303030;
	text-align: center;
	border-collapse: collapse;
	font-size: 11px;
	font-weight: bold;
}
#jsi-lt-status td {
	height: 14px;
	vertical-align: middle;
}
#jsi-lt-status-name {
	position: relative;
	min-width: 60px;
	padding: 0 7px !important;;
	background: #FFFFFF;
	color: #0A5F5F;
}
#jsi-lt-status-passing:before {
	content: '';
	position: absolute;
	top: 2px;
	left: -5px;
	display: block;
	width: 10px;
	height: 10px;
	background: #FFFFFF;
	-webkit-transform: rotate(45deg);
}
#jsi-lt-status-passing {
	position: relative;
	min-width: 140px;
	padding-left: 5px !important;
	background: #1488AD;
}
#jsi-lt-status-last:before {
	content: '';
	position: absolute;
	top: 2px;
	left: -5px;
	display: block;
	width: 10px;
	height: 10px;
	background: #1488AD;
	-webkit-transform: rotate(45deg);
}
#jsi-lt-status-last {
	position: relative;
	width: 100%;
}
#jsi-lt-footer-specs {
	overflow: auto;
	padding: 5px !important;
}
.jsc-lt-footer-spec {
	display: none;
}
.jsc-lt-footer-spec.jsc-current {
	display: block;
}
.jsc-lt-footer-spec a {
	display: inline-block;
	padding: 0 5px;
	color: #425558;
}
